
.thizer-text-success {
  padding: 3px;
  border-radius: 100%;
  background-color: #2d7d27;
  color: #fff;
}

.thizer-text-warning {
  padding: 3px;
  border-radius: 100%;
  background-color: #af8205;
  color: #fff;
}

.thizer-text-danger {
  padding: 3px;
  border-radius: 100%;
  background-color: #da3a3a;
  color: #fff;
}

.thizer-hint {
  /*font-size: 9pt !important;*/
  font-size: .75rem !important;
  display: block;
  min-width: 250px;
  margin: 0 10px;
}
.thizer-hint-def {
  display: block;
}

.wide-result::before {
  content: '';
  display: none;
}
.wide-result.highlight .thizer-comment {
  display: inline-block !important;
  color: #999;
}

.codehint-menu > .dropdown-menu {
  min-width: 500px !important;
}